@media (max-width: 1130px) {
    .container {
        padding: 0 15px;
    }
    .blocks {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 780px) {
  .nav-glav {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 15px;
      display: flex;

  }
  .nav {
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
  }

  .main {
      width: 100%;
  }
}

@media (max-width: 810px){
    .block {
        
        align-items: center;
    }
}

@media (max-width: 430px) {
    .nav-second {
        padding-top: 15px;
    }
    .main-button-1 {
                padding: 32px 42px;
    }
    .main-button-2 {
            padding: 22px 0px;
    }
    .main-buttons {
        padding-top: 0px;
    }

    .footer-content-all {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer-content-2 {
        padding-top: 15px;

    }
    .nav-third-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}